altgraph==0.17.4
asgiref==3.8.1
auto-py-to-exe==2.45.1
babel==2.16.0
bcrypt==4.2.0
blinker==1.8.2
bottle==0.13.2
bottle-websocket==0.2.9
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
click==8.1.7
colorama==0.4.6
cryptography==44.0.0
customtkinter==5.2.2
cx_Freeze==7.2.7
cx_Logging==3.2.1
darkdetect==0.8.0
Django==4.0.3
Eel==0.18.1
emojis==0.7.0
Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
future==1.0.0
gevent==24.11.1
gevent-websocket==0.10.1
greenlet==3.1.1
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
lief==0.15.1
MarkupSafe==2.1.5
Nuitka==2.5.8
ordered-set==4.1.0
packaging==24.2
pefile==2023.2.7
pillow==11.0.0
pycparser==2.22
pygame==2.6.1
pyinstaller==6.11.1
pyinstaller-hooks-contrib==2024.11
pyparsing==3.2.0
pywin32-ctypes==0.2.3
requests==2.32.3
SQLAlchemy==2.0.35
sqlparse==0.5.3
tkcalendar==1.6.1
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.3.0
Werkzeug==3.0.4
WTForms==3.1.2
zope.event==5.0
zope.interface==7.2
zstandard==0.23.0
gunicorn